
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}
.header-logo {
    margin-right: 76px;
    padding: 24px 0;
    margin-right: 76px;
}


.footer-logo {
    margin-bottom: 16px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-links {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-links:hover,
.contacts-links:focus {
    color: #404bbf;
}

.contacts-items {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts {
    font-style: normal;
}



.main-section {
    color: #fff;
    background: #2e2f42;
    padding: 188px 0;
}


.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.main-button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
}

.main-button:hover, .main-button:focus {
    background-color: #404bbf;
}



.section-title {
    background-color:#F4F4FD;
    padding: 120px 0;
}

.page-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.four-section {
    padding: 120px 0 120px 0;

}

.text-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-title {
    background-color: #f4f4fd;
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.list {
    display: flex;
    gap: 24px;
}

.title-white {
    background-color: #FFFFFF;
}
.team-item {
    width: calc((100% - 72px) / 4); 
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;

}


.list-team {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background: #fff;
}

.team-hero {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-container {
    padding: 32px 0;
}

.images-block {
    display: block;
}

.team-hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.list-four-sect{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}